<%= javascript_include_tag 'googlemapsAPI', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'braintree', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'checkout', 'data-turbolinks-track' => true %>

<script type="text/javascript">
    $bt_merchant_id = "<%= Braintree::Configuration.merchant_id %>";
</script>

<div id="checkout-menu">
    <div id="shipping-info">
        <div id="current-address"></div> <!--this is the selected address-->

        <div id="address-form">
            <div id="saved-addresses-container"></div> <!--these are the addresses that exist in the database-->

    <div id="locationField">
        <input id="autocomplete" placeholder="Enter your address"
               onFocus="geolocate()" type="text"/>
    </div>
            <div id="address-table"></div> <!--this is the address form-->
        </div> <!--address-form-->

    </div>


    <div id="payment-info">
        <form id="checkout" method="post">
            <!--<div id="payment-form"></div>-->
            <!--<input type="submit" value="Pay $10">-->
            <h3>Card details</h3>
            <label class="label">Cardholder </label><input data-braintree-name="cardholder_name" class="field wideField"><br>
            <label class="label">Card number </label><input data-braintree-name="number" class="field wideField"><br>
            <label class="label">Month </label><input data-braintree-name="expiration_month" class="field slimField">
            <label class="label">year </label><input data-braintree-name="expiration_year" class="field slimField"><br>
            <label class="label">CVV </label><input data-braintree-name="cvv" class="field slimField"><br>

            <input type="button" id="submit-payment" value="Pay">

        </form>
    </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6qTMF8H4RD9Mz2O0O8qyadmeaxWwbwc4&signed_in=true&libraries=places&callback=initAutocomplete"
        async defer></script>