<%= javascript_include_tag 'login', 'data-turbolinks-track' => true %>

<div class="box session">
    <h2>Log into your account<span></span></h2>
    <div class="box-content">
        <form>
            <label>E-mail</label>
            <input type="text" class="field" id="login-email"/>
            <label>Password</label>
            <input type="password" class="field" id="login-password"/>
            <button type="button" id="login" class="submit">Submit</button><br>
            <br>
        </form>
    </div>
</div>