<!DOCTYPE html>
<html>
<head itemscope itemtype="http://schema.org/WebSite">
  <title itemprop='name'>Fluffy Kitties</title>
  <meta itemprop='about' content="store" />
  <meta itemprop='description' content="The cutest kitties from all over the world" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://js.braintreegateway.com/v1/braintree-data.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- Shell -->
<div class="shell">
  <!-- Header -->
  <div id="header">
    <h1 id="logo"><a href="/"></a></h1>
    <!-- Cart -->
    <div id="cart"></div>
    <!-- End Cart -->
    <!-- Navigation -->
    <div id="navigation">
      <ul>
        <li><a href="/" class="active">Home</a></li>
        <li class="logged-out"><a href="/signup" id="signup-link">Create an account</a></li>
        <li class="logged-out"><a href="/login" id="login-link">Log in</a></li>
        <li class="logged-in"><a href="/" id="logout-link">Log out</a></li>
      </ul>
    </div>   <!-- End Navigation -->
  </div>
  <!-- End Header -->
  <!-- Sidebar -->
  <div id="sidebar">
    <!-- Categories -->
    <div class="box categories">
      <h2>Categories <span></span></h2>
      <div id="box-content"></div>
    </div>
    <!-- End Categories -->
  </div>
  <!-- End Sidebar -->

  <div id="content">
  <%= yield %>
  </div>

  <div class="cl">&nbsp;</div>
</div>
<!-- End Main -->
<!-- Side Full -->
<div class="side-full">
  <!-- More Products -->
  <div class="more-products">

    <div id="more-products-holder"></div>
    <div class="more-nav"> <a href="#" class="prev">previous</a> <a href="#" class="next">next</a> </div>
  </div>


  <!-- End More Products -->

</div>
<!-- End Side Full -->

<!-- Footer -->
<div id="footer">
  <p class="left"> <a href="#">Home</a> <span>|</span> <a href="#">My Account</a></p>
  <p class="right"> Design by <a href="http://chocotemplates.com">Chocotemplates.com</a> </p>
</div>
<!-- End Footer -->
<!-- End Shell -->

<!--templates  -->
<script id="slides-template" type="text/x-handlebars-template">
  <ul>
    {{#each slides}}
    <li><a><img src="assets/{{this}}" alt="" /></a></li>
    {{/each}}
  </ul>
</script>

<script id="main-template" type="text/x-handlebars-template">
  <ul>
    {{#each items}}
    <li itemscope itemtype="http://schema.org/Product"><a itemprop="image"><img src="assets/{{path}}" alt="" /></a>
      <div class="product-info">
        <h3 itemprop="category">{{category}}</h3>
        <div class="product-desc">
          <p itemprop="name">{{name}}</p>
          <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <strong class="price">
            <span itemprop="priceCurrency" content="USD">$</span>
            <span itemprop="price">{{price}}</span>
          </strong>
          </div>
        </div>
      </div>
    </li>
    {{/each}}
  </ul>
</script>

<script id="cart-info-template" type="text/x-handlebars-template">
  <a href="/cart" class="cart-link">Your Shopping Cart</a>
  <div class="cl">&nbsp;</div>
  <span>Articles: <strong><span id="cart-arts">{{length}}</span></strong></span> &nbsp;&nbsp;
  <span>Cost: <strong>$<span id="cart-cost">{{price}}</span></strong></span>
</script>

<script id="categories-template" type="text/x-handlebars-template">
  <ul>
    {{#each categories}}
    <li><a href="/items/{{this}}" class="category-link" id={{this}}>{{this}} Kitties</a></li>
    {{/each}}
  </ul>
</script>

<script id="more-template" type="text/x-handlebars-template">
  <ul>
    {{#each images}}
    <li><a><img src="/assets/{{this}}" alt="" /></a></li>
    {{/each}}
  </ul>
</script>

<script id="list-items-template" type="text/x-handlebars-template">
  <h2 class="cat-name">{{category}} kitties</h2>
  <div id="cat-products">
    {{#each items}}
    <div class="cat-product" itemscope itemtype="http://schema.org/Product">
      <ul>
        <li class="cat-photo" itemprop="image"><img src="/assets/{{photo}}" /></li>
        <li class="cat-product-info">
            <h3 itemprop="name">{{name}}</h3>
          <div class="cat-product-details">
            <ul class="price-stock">
              <li itemprop="offers" itemscope itemtype="http://schema.org/Offer">Price:
                <span itemprop="priceCurrency" content="USD"></span>
                <span class="price-inv-tag" itemprop="price">{{#round}}{{price}}{{/round}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <link itemprop="availability" href="http://schema.org/{{availability}}"/>In stock: <span class="price-inv-tag">{{inventory}}</span></li>
            </ul>
            {{#if inStock}}
            <ul class="cart-menu">
              <li><button class="add-item" id="{{id}}">Add to cart</button></li><br>
              <li><button class="add-item checkout" id="{{id}}">Buy now</button></li>
            </ul>
            {{else}}
            <br><br><p class="sold-out-msg">This kitty is currently sold out.</p>
            {{/if}}
          </div>
        </li>
      </ul>
    </div>
    <br>
    {{/each}}
  </div>
</script>

<script id="cart-template" type="text/x-handlebars-template">

  <div id="cart-header">
    <span><h2 class="cat-name">You are gonna buy these kittiez</h2></span>
    <span><img src="/assets/cat-cart.jpg" width="100px"/></span>
    <span>
        <ul class="cart-links">
          {{#if articles}}
          <li><a href="" class="empty-link">Empty cart</a></li>
          <li><a href="/checkout" class="checkout-link">Go To Checkout</a></li>
          {{/if}}
        </ul>
    </span>
  </div>

  <div id="cart-products">
    {{#each articles}}
    <div class="cart-product">
      <ul>
        <li class="cart-photo"><img src="/assets/{{photo}}" /></li>
        <li class="cart-product-info">
          <div>
            <ul>
              <li class="cart-el-name">{{name}}</li>
              <li class="cart-el-price">${{#round}}{{price}}{{/round}}</li>
              <li class="cart-el-remove"><a href="" class="remove-link" id="{{id}}">Remove from cart</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <br>
    {{/each}}
  </div>
</script>
<script id="current-address-template" type="text/x-handlebars-template">
  <ul>
    <li>{{name}} {{surname}}   <a id="edit-address-link">Edit</a></li>
    <li>{{street}} {{number}}</li>
    <li>{{city}} {{postcode}}</li>
    <li>{{country}}</li>
  </ul>
</script>

<script id="saved-addresses-template" type="text/x-handlebars-template">
  <div id="saved-addresses">
  {{#each addresses}}
  <div class="address-item">
    <ul>
      <li class="address-line-1">{{name}} {{surname}}</li>
      <li class="address-line-2">{{street}} {{number}}</li>
      <li class="address-line-3">{{city}} {{postcode}}</li>
      <li class="address-line-4">{{country}}</li>
      <li class="address-item-menu"><a class="address-select-link" id="{{id}}">Select</a>
        &nbsp;&nbsp;&nbsp; <a class="address-delete-link" id="{{id}}">Delete</a></li>
    </ul></a>
  </div>
  {{/each}}
  </div>
</script>

<script id="address-form-template" type="text/x-handlebars-template">
  <table id="address">
    <tr><td></td><td colspan="3">
      <h3>Shipping address</h3></td>
    </tr>

    <tr>
      <td class="label">Name</td>
      <td class="wideField" colspan="3"><input class="field address-field" id="name" value="{{name}}"
                                                /></td>
      <td class="wideField" colspan="3"><input class="field address-field" id="surname" value="{{surname}}"
                                                /></td>
    </tr>
    <tr>
      <td class="label">Street address</td>
      <td class="wideField" colspan="4"><input class="field address-field" id="route" value="{{street}}"
                                                /></td>
      <td class="slimField"><input class="field" id="street_number" value="{{number}}"
                                    /></td>
    </tr>
    <tr>
      <td class="label">City</td>
      <td class="slimField" colspan="3"><input class="field address-field" id="locality" value="{{city}}"
                                                /></td>
      <td class="label">Post code</td>
      <td class="slimField"><input class="field address-field" id="postal_code" value="{{postcode}}"
                                    /></td>
    </tr>
    <tr>
    </tr>
    <tr>
      <td class="label">Country</td>
      <td class="slimField" colspan="3"><input class="field address-field"
                                               id="country" value="{{country}}" /></td>
    </tr>
    <tr>
      <td></td><td></td><td></td><td></td><td></td>
      <td><button id="addressButton">Save</button></td></tr>
  </table>
</script>

<script id="missing-items-template" type="text/x-handlebars-template">
    <ul>
      {{#each names}}
      <li class="missing-item-name">{{this}}</li>
      {{/each}}
    </ul>


</script>

</body>
</html>
